<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='css/reset.css'>
    <link rel='stylesheet' href='css/style.css'>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Isara</title>
  </head>

  <body>

    <!-- angle-up -->
    <div class="angle-up" id="pageTop">
      <div i class="fas fa-angle-up "></div>
    </div>

    <!-- header -->
    <div class="header">
      <div class="header__container">
        <div class="header__container__left-box">
          <img src="assets/isaralogo.png" alt="" class="logo">
          <div class=header__container__left-box__text>バンコクのノマドエンジニア</div>
        </div>
        <div class="header__container__right-box contactstart">
          <p>お問い合わせ/資料請求</p>
        </div>

        <!-- スマホ用資料請求アイコン -->
        <div class="header__container__right-box2">
          <div i class="menu-icon far fa-file"></div>
          <div class="header__container__right-box2__text">
            <p>資料請求</p>
          </div>
        </div>

      </div>
    </div>

    <!-- main-visual -->
    <div class="container">
      <div class="main-visual">
        <h1 class="main-visual__title">プログラミングで<br>人生の安定を手にいれよう</h1>
        <img src="assets/isaralogo.png" alt="" class="main-visual__logo">
        <h1 class="main-visual__text">バンコクのノマドエンジニア育成講座<br>iSara[イサラ]</h1>
      </div>
    </div>

    <!-- conversion -->
    <div class="conversion">
      <div class="conversion-wrapper">
        <h3 class="conversion__title1">まずは２０日間で、<br>月１０万円稼げるスキルを手にいれよう。</h3>
        <h3 class="conversion__title2">※受講料金は実質０円です。詳しくは資料請求をどうぞ。</h3>
        <div class="conversion__btn">お問い合わせ＆資料請求はこちら</div>
        <h3 class="conversion__text1">第６期生：<br class="br-sp" />2019年11月25日 ~ 2019年12月14日<br>＊締め切りました</h3>
        <h3 class="conversion__text2">第６期生：<br class="br-sp" />2019年11月25日 ~ 2019年12月14日<br>＊締め切りました</h3>
        <h3 class="conversion__text3">第６期生：<br class="br-sp" />2019年11月25日 ~ 2019年12月14日<br>＊締め切りました</h3>
        <div class="conversion__sns-btn">
          <a href="#" name="テスト">
            <div class="sns-btn__twitter">
              <div i class="fab fa-twitter"></div>
              <p>ツイート</p>
            </div>
          </a>
          <a href="#" name="テスト">
            <div class="sns-btn__like">
              <div i class="fas fa-thumbs-up">いいね！</div>
            </div>
          </a>
          <a href="#" name="テスト">
            <div class="sns-btn__share">
              <div class="share-text">シェア</div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- introduction -->
    <div class="introduction">
      <h1 class="introduction__title">
        <span class="start">「</span>
        <p>エンジニアとして本当の自由を手に入れるためには？</p>
        <span class="end">」</span>
      </h1>
      <h1 class="introduction__text1">エンジニア需要の高まりに伴い、プログラミングスクールが増えています。<br>しかしそこでの学習の先は、 提携して決められた就職先に就職すること。</h1>
      <h1 class="introduction__text2">これで本当にいいのですか？<br>日本人エンジニアはアメリカと較べて給料が格段に低い。<br>その理由がここにあり、 エンジニアは自分の給料をコントロールすべきなのです。</h1>
      <h1 class="introduction__text3">スキルを身につけたエンジニアは、人生をコントロールすることでより自由に。<br>そこで必要なのが<span>「稼ぐ力」</span>です。</h1>
      <div class="introduction__image"></div>
    </div>
    
    <div class="introduction2">
      <h1 class="introduction2__title">エンジニアとして<br>本当の自由を手に入れるためには？</h1>
      <h1 class="introduction2__text1">エンジニア需要の高まりに伴い、<br>プログラミングスクールが増えています。<br>しかしそこでの学習の先は、<br>提携して決められた就職先に就職すること。</h1>
      <h1 class="introduction2__text2">これで本当にいいのですか？<br>日本人エンジニアはアメリカと較べて<br>給料が格段に低い。</h1>
      <h1 class="introduction2__text3">その理由がここにあり、<br> エンジニアは自分の給料を<br>コントロールすべきなのです。</h1>
      <h1 class="introduction2__text4">スキルを身につけたエンジニアは、<br>人生をコントロールすることでより自由に。<br>そこで必要なのが<span>「稼ぐ力」</span>です。</h1>
      <div class="introduction2__image"></div>
    </div>
<!-- about -->
    <div class="about">
      <h1 class="about__title">ノマドエンジニア育成講座<br>iSara[イサラ]とは</h1>
      <h1 class="about__text">「 稼ぐこと 」にフォーカスした<br class="br-sp" />Webエンジニア育成講座です。</h1>
      <div class="about__wrapper">
        <h3 class="about__wrapper__title">稼げるエンジニアに必要な５つのスキルとは？</h3>
        <div class="about__wrapper__icons">
          <div class="about__wrapper__icons__icon">
            <img src="assets/sales.jpg" alt="" class="about__wrapper__icons__icon__image">
            <p class="about__wrapper__icons__icon__text">基礎的な<br class="br-sp" />プログラミングスキル</p>
          </div>
          <div class="about__wrapper__icons__icon">
            <img src="assets/sales.jpg" alt="" class="about__wrapper__icons__icon__image">
            <p class="about__wrapper__icons__icon__text">基礎的なプログラミングスキル</p>
          </div>
          <div class="about__wrapper__icons__icon">
            <img src="assets/sales.jpg" alt="" class="about__wrapper__icons__icon__image">
            <p class="about__wrapper__icons__icon__text">案件獲得に必要な営業力</p>
          </div>
          <div class="about__wrapper__icons__icon">
            <img src="assets/sales.jpg" alt="" class="about__wrapper__icons__icon__image">
            <p class="about__wrapper__icons__icon__text">見積もり作成から<br class="br-sp" />納品までの知識</p>
          </div>
          <div class="about__wrapper__icons__icon">
            <img src="assets/sales.jpg" alt="" class="about__wrapper__icons__icon__image">
            <p class="about__wrapper__icons__icon__text">自分の付加価値を<br class="br-sp" />高めるスキル</p>
          </div>
        </div>
      </div>
    </div>
<!-- about-second -->
    <div class="about-second">
      <div class="about-second__title">
        iSaraで「基本的なプログラミングスキル」は教えません
      </div>
      <div class="about-second__text">
        基礎的なプログラミングスキルは<br class="br-sp" />無料で学べる時代。<br>iSaraでは、基礎知識学習は<br class="br-sp" /><span>事前課題</span>と<span>チャットサポート</span>のみ。
      </div>
      <div class="about-second__wrapper">
        <div class="about-second__wrapper__box">
          <div class="about-second__wrapper__box__step">STEP.1</div>
          <div class="about-second__wrapper__box__title">【バンコク渡航前１ヶ月】</div>
          <div class="about-second__wrapper__box__text">事前課題で基礎知識を学ぶ</div>
        </div>
        <div class="about-second__wrapper__box">
          <div class="about-second__wrapper__box__step">STEP.1</div>
          <div class="about-second__wrapper__box__title">【バンコク渡航前１ヶ月】</div>
          <div class="about-second__wrapper__box__text">事前課題で基礎知識を学ぶ</div>
        </div>
        <div class="about-second__wrapper__box">
          <div class="about-second__wrapper__box__step">STEP.1</div>
          <div class="about-second__wrapper__box__title">【バンコク渡航前１ヶ月】</div>
          <div class="about-second__wrapper__box__text">事前課題で基礎知識を学ぶ</div>
        </div>
      </div>
    <div class="about-second__bottom">
      スキルアップしても<br class="br-sp" />フリーランスエンジニアとして食べていくことは難しい。<br>
      フリーランスには<span>プログラミングスキル以外</span>が大切。
    </div>
    </div>
<!-- learning -->
    <div class="learning">
      <h1 class="learning__title">
        iSara[イサラ]で学べること
      </h1>
      <h2 class="learning__text1">
        iSaraの学習では、エンジニアとして<br>「稼ぐ」ために必要な能力を身につけます。
      </h2>
      <div class="learning__wrapper">
        <div class="learning__wrapper__icon">
          <img src="assets/salesskill.jpg" alt="" class="about__wrapper__icon__image">
        </div>
        <div class="learning__wrapper__icon">
          <img src="assets/salesskill.jpg" alt="" class="about__wrapper__icon__image">
        </div>
        <div class="learning__wrapper__icon">
          <img src="assets/salesskill.jpg" alt="" class="about__wrapper__icon__image">
        </div>
        <div class="learning__wrapper__icon">
          <img src="assets/salesskill.jpg" alt="" class="about__wrapper__icon__image">
        </div>
      </div>
      <h2 class="learning__text2">
        これらを教えるのがiSaraです。
      </h2>
    </div>

<!-- merit -->
    <div class="merit">
      <h2 class="merit__title1">
        他のプログラミングスクールと<br class="br-sp" />ここが違う！
      </h2>
      <h1 class="merit__title2">
        iSara[イサラ]の３つのメリット
      </h1>
      <div class="merit__wrapper">
        <div class="merit__wrapper__box">
          <img src="assets/pc_visual3.jpeg" alt="" class="merit__wrapper__box__image">
          <div class="merit__wrapper__box__title">
            現役フリーランスから学べる
          </div>
          <div class="merit__wrapper__box__text">
            他のプログラミングスクールとは違い、実際にフリーランスとして活動しているエンジニアが直接講師を勤めます。
          </div>
        </div>
        <div class="merit__wrapper__box">
          <img src="assets/pc_visual4.jpeg" alt="" class="merit__wrapper__box__image">
          <div class="merit__wrapper__box__title">
            実践を通じて学べる
          </div>
          <div class="merit__wrapper__box__text">
            フリーランスにとって最短の学習方法は「実践」。iSaraでは実案件を通して学びます。現役フリーランサーの案件サポートに加え、クラウドソーシングを活用。初心者の自分じゃ無理と思うかもですが、現役フリーランスがサポートしますので大丈夫。
          </div>
        </div>
        <div class="merit__wrapper__box">
          <img src="assets/pc_visual3.jpeg" alt="" class="merit__wrapper__box__image">
          <div class="merit__wrapper__box__title">
            現役フリーランスから学べる
          </div>
          <div class="merit__wrapper__box__text">
            他のプログラミングスクールとは違い、実際にフリーランスとして活動しているエンジニアが直接講師を勤めます。
          </div>
        </div>
      </div>
      <div class="merit__support__wrapper">
        <h1 class="merit__support__wrapper__title">
          さらに！帰国後もサポート付き
        </h1>
        <h2 class="merit__support__wrapper__text1">
          リモートワーカーのチームを作ることで受注率、<br class="br-sp" />受注単価が大幅に向上します。
        </h2>
        <h2 class="merit__support__wrapper__text2">
          iSaraは講座が終わって終了ではありません。<br class="br-sp" />
          参加メンバーのチャットグループを作り、<br class="br-sp" />帰国後も継続的に案件参加できるようになります。<br class="br-sp" />
          また、チームで働くことで<br class="br-sp" />継続的に稼ぎやすい<br class="br-sp" />仕組みづくりも構築しております。<br class="br-sp" />
        </h2>
      </div>
      <div class="merit__notice">
        事前課題ができない人はお断りしております。<br class="br-sp" />iSaraでは、無料で学べる<br class="br-sp" />プログラミング基礎知識は教えません。<br class="br-pc" /><br class="br-sp" />事前課題一覧はメールで送りつつ、<br class="br-sp" />
        チャットサポートのみ。<br class="br-sp" />従って、本気で取り組まないと結果は出ません。
      </div>
    </div>

    <!-- teacher -->
    <div class="teacher">
      <h1 class="teacher__title">
        <div i class="fas fa-address-card"></div>
        創業メンバー
      </h1>
      <h2 class="teacher__text">
        実際にフリーランスとして活躍しているエンジニアが立ち上げました
      </h2>
      <div class="teacher__teachers">
        <div class="teacher__teachers__box">
          <div class="teacher__teachers__box__icon">
            <img src="assets/cat.jpg" alt="" class="merit__wrapper__box__image">
          </div>
          <div class="teacher__teachers__box__profile">
            <div class="teacher__teachers__box__profile__title">
              フリーランス講師<br><br>
              〇〇〇〇
            </div>
            <div class="teacher__teachers__box__profile__text">
              〇〇の代表です。<br class="br-sp" />学生起業の後にリクルートへ就職、<br class="br-pc" /><br class="br-sp" />その後独立し、海外移住しました。<br class="br-pc" /><br class="br-sp" />今はフリーランスとして<br class="br-sp" />リモートワークで日本円を稼ぎ、<br class="br-sp" />外国通貨に変えて使い、海外を旅してます。<br class="br-pc" /><br class="br-sp" />営業、ブログPVアップ(最高月間〇〇万PV)、<br class="br-pc" /><br class="br-sp" />ビジネス構築が専門です。
            </div>
          </div>
        </div>
        <div class="teacher__teachers__box">
          <div class="teacher__teachers__box__icon">
            <img src="assets/cat_4.jpeg" alt="" class="merit__wrapper__box__image">
          </div>
          <div class="teacher__teachers__box__profile">
            <div class="teacher__teachers__box__profile__title">
              フリーランス講師<br><br>
              〇〇〇〇
            </div>
            <div class="teacher__teachers__box__profile__text">
              バンコクのシェアハウスのオーナーを<br class="br-sp" />やりながら<br class="br-pc" />一年の大半を<br class="br-sp" />タイで過ごしています。<br class="br-pc" /><br class="br-sp" />大学時代から今に至るまで<br class="br-sp" />ネットだけで生計を立てているので、<br class="br-sp" />自由歴だけは講師陣の中で最長です！<br class="br-pc" /><br class="br-sp" /> 母親がタイ人という事もあり<br class="br-sp" />タイには精通してますので、<br class="br-sp" />こちらでの生活のサポートは<br class="br-sp" />お任せください！
            </div>
          </div>
        </div>
        <div class="teacher__teachers__box">
          <div class="teacher__teachers__box__icon">
            <img src="assets/dog_2.jpeg" alt="" class="merit__wrapper__box__image">
          </div>
          <div class="teacher__teachers__box__profile">
            <div class="teacher__teachers__box__profile__title">
              フリーランス講師<br><br>
              〇〇〇〇
            </div>
            <div class="teacher__teachers__box__profile__text">
              月の半分は東京の会社に<br class="br-sp" />リモートで勤めつつ、<br class="br-pc" />フリーでも<br class="br-sp" />活動しているエンジニアです。<br class="br-pc" /><br class="br-sp" />Laravel・WordPressでの<br class="br-sp" />Web制作がコアスキル。<br class="br-pc" /><br class="br-sp" />立ち上げメンバーとして<br class="br-sp" />カリキュラム原案制作に参画し、<br class="br-sp" />現在は外部アドバイザーをしています！
            </div>
          </div>
        </div>
        <div class="teacher__teachers__box">
          <div class="teacher__teachers__box__icon">
            <img src="assets/bird_2.jpeg" alt="" class="merit__wrapper__box__image">
          </div>
          <div class="teacher__teachers__box__profile">
            <div class="teacher__teachers__box__profile__title">
              フリーランス講師<br><br>
              〇〇〇〇
            </div>
            <div class="teacher__teachers__box__profile__text">
              アドバイザーとして参画しました。<br class="br-pc" /><br class="br-sp" />新卒で海外就職して１１ヶ月後に退職。<br class="br-sp" />今は日本にいたり海外にいたりで<br class="br-sp" />ゆるくフリーランスをしています。<br class="br-pc" /><br class="br-sp" />お仕事はWebマーケティングと<br class="br-pc" /><br class="br-sp" />プログラミングが専門領域です。
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- why -->
    <div class="why">
      <div class="why__icon">
        Q&A
      </div>
      <div class="why__text">
        ノマドエンジニアとして自由に稼ぐことは<br>「 本当に 」可能なのか？
      </div>
    </div>
    <!-- answer -->
    <div class="a-point">■</div>
    <div class="answer">
      <div class="answer__title">
        実現可能です<br>
        <span>その証拠に第三者の声を聞いてみました。</span>
      </div>
      <div class="answer__text">
        ＊実際にフリーランスエンジニアを採用する企業様から、メッセージをいただきました。
      </div>
      <div class="answer__person__wrapper">
        <div class="answer__person__wrapper__box">
          <div class="answer__person__wrapper__box__picture">
            <img src="assets/cat.jpg" alt="" class="merit__wrapper__box__image">
          </div>
          <div class="answer__person__wrapper__box__texts">
            <div class="answer__person__wrapper__box__texts__text">
              リモートワークという言葉がありますが、弊社では何も気にしません。エンジニアに求めるのは、快適なコミュニケーションと信頼と成果物のみ。
            </div>
            <div class="answer__person__wrapper__box__texts__name">
              <span>○○○○ 代表取締役 ○○ ○○</span>
            </div>
          </div>
        </div>
        <div class="answer__person__wrapper__box">
          <div class="answer__person__wrapper__box__picture">
            <img src="assets/cat_4.jpeg" alt="" class="merit__wrapper__box__image">
          </div>
          <div class="answer__person__wrapper__box__texts">
            <div class="answer__person__wrapper__box__texts__text">
              プログラマーが足りていないときに外部リソースとして、フリーランスに発注しています。今はどこの会社でもエンジニアが不足していますね。
            </div>
            <div class="answer__person__wrapper__box__texts__name">
              <span>○○○○ 代表取締役 ○○ ○○</span>
            </div>
          </div>
        </div>
        <div class="answer__person__wrapper__box">
          <div class="answer__person__wrapper__box__picture">
            <img src="assets/cat_2.jpeg" alt="" class="merit__wrapper__box__image">
          </div>
          <div class="answer__person__wrapper__box__texts">
            <div class="answer__person__wrapper__box__texts__text">
              社内でスキルのある人材を採用するのは難しい。外部パートナーとして継続的に依頼できるフリーランスには助かっています。
            </div>
            <div class="answer__person__wrapper__box__texts__name">
              <span>○○○○ 代表取締役 ○○ ○○</span>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- class -->
    <div class="class">
      <div class="class__title-a">
        iSara[イサラ]で学べる内容
      </div>
      <div class="class__title-b">
        渡航前の事前課題と渡航中に学べることの一覧です。
      </div>
      <div class="class__container">
        <div class="class__container__wrapper">
          <div class="class__container__wrapper__title">
            渡航前の事前学習
          </div>
          <ul>
            <li class=b>０から始めるプログラミング事前学習講座</li>
            <li class=a>参加者グループコミュニティ</li>
            <li class=a>チャットサポート</li>
            <li class=a>事前スカイプコンサル</li>
            <li class=a>jQueryの事前学習講座</li>
            <li class=a>Bootstrapの事前講座</li>
            <li class=a>PHP / Mysqlの事前学習講座</li>
            <li class=a>稼ぐためのHTML/CSS講座</li>
            <li class=a>WordPressの事前学習講座</li>
          </ul>
        </div>
        <div class="class__container__wrapper">
          <div class="class__container__wrapper__title">
            渡航前の事前学習
          </div>
          <ul>
            <li class=b>０から始めるプログラミング事前学習講座</li>
            <li class=a>参加者グループコミュニティ</li>
            <li class=a>チャットサポート</li>
            <li class=a>事前スカイプコンサル</li>
            <li class=a>jQueryの事前学習講座</li>
            <li class=a>Bootstrapの事前講座</li>
            <li class=a>PHP / Mysqlの事前学習講座</li>
            <li class=a>稼ぐためのHTML/CSS講座</li>
            <li class=a>WordPressの事前学習講座</li>
          </ul>
        </div>
      </div>
      <div class="class__bottom">
        講座費用258,000円以上の金額が稼げるまで「永久サポート延長」します。<br>
        つまりリスク０で参加できます。
      </div>
    </div>
<!-- flow -->
    <div class="flow">
      <div class="flow__title">
        <div i class="fas fa-laptop-code"></div>
        受講の流れ
      </div>
      <div class="flow__icons">
        <div class="flow__icons__icon">
          <div class="flow__icons__icon__image">
            <img src="assets/knowledge.jpg" alt="">
            <div i class="fas fa-arrow-right icon"></div>
          </div>
          <div class="flow__icons__icon__text">
          </div>
        </div>
        <div class="flow__icons__icon">
          <div class="flow__icons__icon__image">
            <img src="assets/knowledge.jpg" alt="">
            <div i class="fas fa-arrow-right icon"></div>
          </div>
          <div class="flow__icons__icon__text">
          </div>
        </div>
        <div class="flow__icons__icon">
          <div class="flow__icons__icon__image">
            <img src="assets/knowledge.jpg" alt="">
            <div i class="fas fa-arrow-right icon"></div>
          </div>
          <div class="flow__icons__icon__text">
          </div>
        </div>
        <div class="flow__icons__icon">
          <div class="flow__icons__icon__image">
            <img src="assets/knowledge.jpg" alt="">
            <div i class="fas fa-arrow-right icon"></div>
          </div>
          <div class="flow__icons__icon__text">
            現役フリーランスのサポートつき
          </div>
        </div>
        <div class="flow__icons__icon">
          <div class="flow__icons__icon__image">
            <img src="assets/knowledge.jpg" alt="">
          </div>
          <div class="flow__icons__icon__text">
          </div>
        </div>
      </div>
    </div>
    <!-- flow-chart -->
    <div class="flow-chart" id="faq-list">
      <div class="flow-chart__wrapper">
        <div class="flow-chart__wrapper__top">
          <div class="flow-chart__wrapper__top__left">
            <div class="flow-chart__wrapper__top__left__icon">
              <img src="assets/skypeconsulting.png" alt="">
            </div>
            <div class="flow-chart__wrapper__top__left__text">
              Skypeで事前コンサル
            </div>
            <div class="flow-chart__wrapper__top__left__arrow">
              <span>＋</span>
            </div>
          </div>
          <div class="flow-chart__wrapper__top__right answer-a">
            <div class="flow-chart__wrapper__top__right__top">
              現在のスキルの状況、パソコンの環境説明、渡航での注意点を話します。簡単なテストあり
            </div>
            <div class="flow-chart__wrapper__top__right__bottom">
              iSaraでは受講料を稼げることを保障しています。従って、事前コンサル時点で簡単なテストを実施し、場合によってはお断りをしております。（テストの内容はPCの基礎知識に関するテストですので、普段からパソコンを利用する方でしたら問題ありません。テストはもちろん無料ですので、まずはお問い合わせください。）
            </div>
          </div>
        </div>
        <div class="flow-chart__wrapper__bottom">
          <img src="assets/flowline1.png" alt="">
        </div>
      </div>
    
      <div class="flow-chart__wrapper">
        <div class="flow-chart__wrapper__top">
          <div class="flow-chart__wrapper__top__left">
            <div class="flow-chart__wrapper__top__left__icon">
              <img src="assets/preworks.png" alt="">
            </div>
            <div class="flow-chart__wrapper__top__left__text">
              事前課題の提出
            </div>
            <div class="flow-chart__wrapper__top__left__arrow">
              <span>＋</span>
            </div>
          </div>
          <div class="flow-chart__wrapper__top__right answer-a">
            <div class="flow-chart__wrapper__top__right__top">
              出発前の１ヶ月前に事前課題を送ります。
            </div>
            <div class="flow-chart__wrapper__top__right__bottom">
              課題は多いですが、ここで努力が必須です。プログラミングは高付加価値なスキルです。そのためには学習が必須です。回数無制限のチャットサポート付きですので、最初は努力してください。また、参加者グループコミュニティも作成するので、横の繋がりでモチベーションを高めることもできます
            </div>
          </div>
        </div>
        <div class="flow-chart__wrapper__bottom">
          <img src="assets/flowline2.png" alt="">
        </div>
      </div>
      <div class="flow-chart__wrapper">
        <div class="flow-chart__wrapper__top">
          <div class="flow-chart__wrapper__top__left">
            <div class="flow-chart__wrapper__top__left__icon">
              <img src="assets/flight.png" alt="">
            </div>
            <div class="flow-chart__wrapper__top__left__text">
              現地に渡航
            </div>
            <div class="flow-chart__wrapper__top__left__arrow">
              <span>＋</span>
            </div>
          </div>
          <div class="flow-chart__wrapper__top__right answer-a">
            <div class="flow-chart__wrapper__top__right__top">
              到着日には空港でお出迎えし、初日のオリエンテーションを行います。滞在先は空港からすぐの出来たてシェアハウス。美味しいタイ料理などもご紹介します。
            </div>
            <div class="flow-chart__wrapper__top__right__bottom">
              iSaraは『ノマド』フリーランス養成講座です。楽しいノマド体験ができるよう、バンコクでの生活はこちらでサポートします。
            </div>
          </div>
        </div>
        <div class="flow-chart__wrapper__bottom">
          <img src="assets/flowline1.png" alt="">
        </div>
      </div>
      <div class="flow-chart__wrapper">
        <div class="flow-chart__wrapper__top">
          <div class="flow-chart__wrapper__top__left">
            <div class="flow-chart__wrapper__top__left__icon">
              <img src="assets/personwithlight.png" alt="">
            </div>
            <div class="flow-chart__wrapper__top__left__text">
              実案件を通して学ぶ
            </div>
            <div class="flow-chart__wrapper__top__left__arrow">
              <span>＋</span>
            </div>
          </div>
          <div class="flow-chart__wrapper__top__right answer-a" >
            <div class="flow-chart__wrapper__top__right__top">
              現役フリーランスが抱える案件に加え、クラウドソーシングを使って実案件をこなします。
            </div>
            <div class="flow-chart__wrapper__top__right__bottom">
              案件獲得のためのメールの書き方や見積りの仕方など、他のプログラミングスクールでは教えてくれない実務スキルを学ぶことができます。
            </div>
          </div>
        </div>
        <div class="flow-chart__wrapper__bottom">
          <img src="assets/flowline2.png" alt="">
        </div>
      </div>
      <div class="flow-chart__wrapper">
        <div class="flow-chart__wrapper__top">
          <div class="flow-chart__wrapper__top__left">
            <div class="flow-chart__wrapper__top__left__icon">
              <img src="assets/jobsupport.png" alt="">
            </div>
            <div class="flow-chart__wrapper__top__left__text">
              帰国後の仕事獲得サポート付き
            </div>
            <div class="flow-chart__wrapper__top__left__arrow">
              <span>＋</span>
            </div>
          </div>
          <div class="flow-chart__wrapper__top__right answer-a">
            <div class="flow-chart__wrapper__top__right__top">
              経験年数の少ないフリーランスが高単価で継続的に仕事受注するコツ、それがチームを組むことです。
            </div>
            <div class="flow-chart__wrapper__top__right__bottom">
              iSaraではフリーランスコミュニティを形成し、帰国後のエンジニアでも継続的に稼げる仕組みを提供します。もちろん、個人で十分に稼げるようになった場合はいつでも脱退できますし、制限などは何もありません。
            </div>
          </div>
        </div>
        <div class="flow-chart__wrapper__bottom">
        </div>
      </div>
    </div>
    <!-- bangkok -->
    <div class="bangkok">
      <div class="bangkok__c-wrapper">
        <div class="bangkok__c-wrapper__title">なぜバンコクなのか？</div>
        <div class="bangkok__c-wrapper__text1">ここまで見ると、iSaraは日本でも実施可能に見えます。<br>しかし、バンコクを選んだのには理由があります。</div>
        <ul class="bangkok__c-wrapper__lists">
          <li class="bangkok__c-wrapper__lists__list">
            ・プログラミングフリーランスの最先端
          </li>
          <li class="bangkok__c-wrapper__lists__list">
            ・水準は日本と同じなのに、生活費が安い（毎月８万円ほど）
          </li>
          <li class="bangkok__c-wrapper__lists__list">
            ・昼、夜共に遊びが充実（稼ぐモチベーションアップと息抜きにGOOD）
          </li>
          <li class="bangkok__c-wrapper__lists__list">
            ・日本人が住みやすい（食事が美味しい / 気候が良い / 親日である）
          </li>
        </ul>
        <div class="bangkok__c-wrapper__text2"></div>
        
      </div>
      <div class="bangkok__image">
        <div class="bangkok__image__text">
          BANGKOK
        </div>
      </div>
      
    </div>
<!-- special -->
    <div class="special">
      <div class="special__title">
        <div i class="fas fa-gift"></div>
          iSara受講生への参加特典
      </div>
      <div class="special__text">
        講座費用258,000円以上の金額が稼げるまでの「永久サポート延長」<span>を追加します。つまり、</span>実質０円<span>です。</span>
      </div>
      <div class="special__contents">
        <div class="special__contents__title">
          iSaraは『実質０円』！更なる特典もあります。
        </div>
        <div class="special__contents__wrapper">
          <div class="special__contents__wrapper__box">
            <div class="special__contents__wrapper__box__title">
              特典１
            </div>
            <div class="special__contents__wrapper__box__text">
              講座費用258,000円以上の金額が稼げるまで、「永久サポート延長」。リスク０で参加できます。
            </div>
          </div>
          <div class="special__contents__wrapper__box">
            <div class="special__contents__wrapper__box__title">
              特典１
            </div>
            <div class="special__contents__wrapper__box__text">
              講座費用258,000円以上の金額が稼げるまで、「永久サポート延長」。リスク０で参加できます。
            </div>
          </div>
          <div class="special__contents__wrapper__box">
            <div class="special__contents__wrapper__box__title">
              特典１
            </div>
            <div class="special__contents__wrapper__box__text">
              講座費用258,000円以上の金額が稼げるまで、「永久サポート延長」。リスク０で参加できます。
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- special-detail -->
    <div class="special-detail">
      <div class="special-detail__wrapper">
      <div class="special-detail__wrapper__title1">iSaraはボランティアではありません</div>
      <div class="special-detail__wrapper__text1">ここまでみると、実質０円で各種サポートもある、特典が多すぎて逆に怪しい。
        そう思われるかもしれません。
        しかし、iSaraが目指すことは異なります。</div>
      <div class="special-detail__wrapper__title2">月１０万円稼げるエンジニアを輩出し続ける。</div>
      <div class="special-detail__wrapper__text2">最大の価値がこれです。
        iSaraの卒業生が稼ぎ続けることで、小さな経済が動き始めます。
        ここに最大の価値があり、この講座はその序章にすぎません。</div>
      </div>
    </div>
    <!-- learning-2 -->
    <div class="learning2">
      <div class="learning2__title">
        創業者からのメッセージ
      </div>
      <div class="learning2__text">
        「一生もののスキル」を身につけ、ノマドライフを楽しもう！
      </div>
      <div class="learning2__contents">
        <div class="learning2__contents__image">
          <img src="assets/cat_3.jpeg" alt="">
        </div>
        <div class="learning2__contents__wrapper">
          <div class="learning2__contents__wrapper__text1">
            初めまして。「○○○○○○○○」創業者の○○○○と申します。iSaraの開講は、僕達講師陣にとってもとても大きな挑戦です。今回、参加者に圧倒的な価値提供をするために、超少人数制だからできる内容を用意しました。
          </div>
          <div class="learning2__contents__wrapper__list">
            <ul>
              <li>・「Webエンジニアとして稼ぐ」に特化した超実践的カリキュラム</li>
              <li>・フリーランスとして生計を立て、いつでも世界中を旅できるスキル、収入のある講師陣のみを厳選</li>
              <li>・講座参加者が25万8,000円の参加費以上を稼ぐまでの無期限サポート延長</li>
            </ul>
          </div>
          <div class="learning2__contents__wrapper__text2">
            ここまでのカリキュラムを備えた講座は、世界で唯一iSaraだけでしょう。 iSaraでプログラミングや営業を学ぶことで、「一生ものの潰しが効くスキル」が身につきます。 もちろん勉強だけでなく、バンコクを楽しめるプログラムも用意しています！３ヶ月間徹底的にサポートします。ぜひバンコクでお会いしましょう。
          </div>
        </div>
      </div>
    </div>

    <!-- contactform -->
    <div class="contactform">
      <div class="contactform__title">
        <div i class="fas fa-copy"></div>
        資料請求フォーム
      </div>
      <div class="contactform__text">
        まずは無料で資料請求からどうぞ。
      </div>
      <div class="contactform__wrapper">
        <form action="#" method="#">
          <div>
            <!-- <label for="name">Name:</label> -->
            <input type="text" id="lname" name="user_fname" placeholder="姓">
          </div>
          <div>
            <!-- <label for="name">Name:</label> -->
            <input type="text" id="fname" name="user_lname" placeholder="名">
          </div>
          <div>
            <!-- <label for="mail">E-mail:</label> -->
            <input type="email" id="email" name="user_mail" placeholder="メールアドレス">
          </div>
          <div>
            <!-- <label for="msg">Message:</label> -->
            <textarea id="note" name="user_message" placeholder="質問などはこちら（空欄でもOKです）"></textarea>
          </div>
          <div class="button">
            <button type="submit">送信</button>
          </div>
        </form>
      </div>
    </div>


<!-- questions -->
    <div class="questions">
    <label for="label1">
      <div i class="far fa-question-circle"></div>
      プログラミングスキルは必要ですか？</label>
    <input type="checkbox" id="label1" class="cssacc" />
    <div class="accshow">
      <p>
        いいえ、必要ありません。しかし、iSaraでは参加費以上の金額が稼げることを保障しています。 従って、事前通話面談時点で簡単なテストを実施し、場合によってはお断りをしております。この点だけはご了承ください。
      </p>
    </div>
    <label for="label2">
      <div i class="far fa-question-circle"></div>
      参加費以上に稼げなかったらどうなりますか？</label>
    <input type="checkbox" id="label2" class="cssacc" />
    <div class="accshow">
      <p>
        参加費である258,000円以上の金額をトータルで稼ぐまで、無期限でサポート延長いたします。（講座参加後、週30時間以上の実践をすることと、週１回の実践報告をすることが延長条件です。）きちんと学び実践すれば、フリーランスでも収入を作ることは十分に可能です。
      </p>
    </div>
    <label for="label3">
      <div i class="far fa-question-circle"></div>
      滞在中の宿泊先はどうなりますか？</label>
    <input type="checkbox" id="label3" class="cssacc" />
    <div class="accshow">
      <p>
        宿泊費用が必要ですが、iSara提携のホステルに宿泊することになりますので心配はありません。
      </p>
    </div>
    <label for="label4">
      <div i class="far fa-question-circle"></div>
      滞在中の食事はどうなりますか？</label>
    <input type="checkbox" id="label4" class="cssacc" />
    <div class="accshow">
      <p>
        拠点となる新築シェアハウスの周辺に、50バーツ程度の（160円）安価な飲食店が多数あります。 日本食レストランもありますし、出前を取ることも可能です。
      </p>
    </div>
    </div>

    <div class="footer">
    <div class="footer__copy">
      バンコクのノマドエンジニア育成講座、iSara[イサラ]<br>Copyright ©︎ <span>iSara</span> All Rights Reserved.
    </div>

    <div class="footer__icons">
        <a href="#" name="テスト">
          <div class="footer__icons__btn tweet">
            <div i class="fab fa-twitter">ツイート</div>
          </div>
        </a>
        <a href="#" name="テスト">
          <div class="footer__icons__btn">
            <div i class="fas fa-thumbs-up">いいね！</div>
          </div>
        </a>
        <a href="#" name="テスト">
          <div class="footer__icons__btn">
            <div class="share-text">シェア</div>
          </div>
        </a>
      </div>
      <div class="footer__copy">
        Designed by 〇〇 / Developed by 〇〇
      </div>
    </div>
    
    <script src="script.js"></script>
  </body>
  </html>